<!DOCTYPE html>
<html>
    <head>
        <title>View product details</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <table border=1>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
                <td>In Stock</td>
            </tr>
            <tr>
                <td>{{ item.product_name }}</td>
                <td><image src="/media/{{ item.product_pic }}" width="200"> {{ item.product_desc }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.stock }}</td>
                <td><a href="{% url 'addtocart' product_id=item.product_id%}" onclick="return myFunction();">Add to cart</a></td>
            </tr>
        </table>
        <a href="{% url 'viewitems' type_id=0 %}">Go back</a>
        <script>
            function myFunction(){
                alert('เพิ่มสินค้าลงตะกร้าเรียบร้อยแล้ว');
            }
        </script>
    </body>
</html>