<!DOCTYPE html>
<html>
    <head>
        <title>View product</title>
        <meta charset="UTF-8">
    </head>
    <body>
        ประเภทสินค้า : 
        <a href="{% url 'viewitems' type_id=0 %}">All</a>
        {% for t in types %}
        <a href="{% url 'viewitems' type_id=t.ptype_id %}">{{ t.ptype_name }}</a>
        {% endfor %}
        <table border=1>
            <tr>
                <td>Name</td>
                <td>Description</td>
                <td>Price</td>
            </tr>
            {% for i in item %}
            <tr>
                <td><a href="{% url 'itemdetails' product_id=i.product_id %}">{{ i.product_name }}</a></td>
                <td>{{ i.product_desc }}</td>
                <td>{{ i.price }}</td>
            </tr>
            {% endfor %}
        </table>
        <a href="{% url 'index' %}">Go back</a>
    </body>
</html>